<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familiar.es</title>
</head>
<body>
    {% for person in misFamiliares %}
       <h3> {{person.first_name}} {{person.last_name}} </h3>
       <ul>
        <li>Nombre: {{person.first_name}} {{person.last_name}}</li>
        <li>Edad: {{person.age}}</li>
        <li>Fecha de nacimiento: {{person.birth_date}}</li>
        {% if person.is_alive %}
           <li>Vive</li>
        {% else %}
           <li>Fallecido</li>
        {% endif %}
        <li>Dirección: {{person.address}}</li>
       </ul>
    {% endfor %}
</body>
</html>